
<tr>
  <td><%= @task.day %></td>
  <td><strong> <%= Project.find_by(id: @task.project_id).name%></strong></td>
  <td>  <%= @task.comments %>  </td>
  <td><%= @task.time %></td>
  <td><%= link_to "Edit", edit_task_path(@task) %></td>
</tr>
