<%= form_for(@task, method: :post, remote: true, html: {class: "form-group"}) do |f| %>
<%= evil_icons_sprite %>
  <%= f.label "Describe the task"%>
  <%= f.text_field :comments, id: "task-comments", class: "form-control" %>
  <br />
  <%= f.label "Time in minutes" %>
  <%= f.text_field :time, class: "form-control" %>
  <%= f.label "Project" %>
  <%= f.collection_select :project_id, Project.order(:name), :id, :name,
      {prompt: "Select a project"}, {class: "form-control"} %>
  <br />
  <%= f.grouped_collection_select(:subproject_id, Project.order(:name), :subprojects, :name,
      :id, :name, {prompt: "Select a subtask" },{class: "form-control"}) %>
<br / />
  <%= f.label "Date" %>
  <%= f.date_select :day,  {class: "form-control"}%>

  <br  />
  <%= f.label "Collaborators" %>
  <ul class="list-group collaborators">
    <%= f.collection_check_boxes(:user_ids, @user_list, :id, :email_or_user_name) do |box| %>

          <label class="checkbox-inline">
        <%= box.text %>
        <%= box.check_box %>
    </label>



    <% end %>
    </ul>
  <%= f.button "Add Task", class: 'btn btn-success', id: 'add-tsk-btn', data: {disable_with: "#{h evil_icon 'ei-spinner-3', size: :s}".html_safe } %>
<% end %>
