<%= form_for(@task, method: :post, remote: true, html: {class: "form-group"}) do |f| %>
  <%= f.label "Describe the task"%>
  <%= f.text_field :comments, id: "task-comments", class: "form-control" %>
  <br />
  <%= f.label "Time in minutes" %>
  <%= f.text_field :time, class: "form-control" %>
  <%= f.label "Project" %>
  <%= f.collection_select :project_id, Project.order(:name), :id, :name,
      {prompt: "Select a project"}, {class: "form-control"} %>
  <br />
  <%= f.grouped_collection_select(:subproject_id, Project.order(:name), :subprojects, :name,
      :id, :name, {prompt: "Select a subtask" },{class: "form-control"}) %>
<br / />
  <%= f.label "Date" %>
  <%= f.date_select :day,  {class: "form-control"}%>

  <br  />
  <%= f.label "Collaborators" %>
  <ul class="list-group">
    <%= f.collection_check_boxes(:user_ids, User.where.not(id: current_user.id), :id, :email_or_user_name) do |box| %>
    <li class="list-group-item"> <%= box.check_box + box.text%> </li>

    <% end %>
    </ul>
  <%= f.submit "Add Task", class: 'btn btn-primary' %>
<% end %>
