<h1>Welcome <%= current_user.email %></h1>
<%=link_to "Log out",  destroy_user_session_path, method: :delete%>
<br />
Enter your tasks for the day:

<%= button_tag "Add Task", onclick: "showForm()", class: "btn btn-light" %>


<div id="new-task-form">
  <div class="container border rounded new-task-form">
    <%= render 'new'  %>
  </div>
</div>


<div class="container border rounded">


<table class="table table-hover" id="current-tasks">
  <thead class="thead-dark">
    <tr>
      <th>
        Date:
        </th>
        <th>
          Project:
          </th>
          <th>
          Comments:
            </th>
            <th>
              Total Time (minutes):
              </th>
      </tr>
      </thead>

  <div id="current-tasks">
    <%= render partial: 'show_list', locals: {tasks: @tasks, projects: @projects} %>
  </div>

</table>

<div class="row justify-content-sm-center">
<%= will_paginate(@tasks, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
</div>


<%= link_to "New Project", new_project_url, class: "btn btn-light" %>


<table>

<tr>
  <td><strong>Project Name</strong></td>
  <td><strong>Project Date</strong></td>
  </tr>
<% @projects.each do |project| %>
<tr>
<td><%= project.name %></td>
  <td><%= project.start %></td>
  </tr>

<% end %>
  </table>
