
<div class="card mx-auto" style="width: 20rem;">

<div class="card-header"><h2>Forgot your password?</h2></div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "devise-form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "reset", class: "btn btn-primary" %>
  </div>
<% end %>


<div class="card-footer text-center"><%= render "devise/shared/links" %></div>
</div>
