<%= form_for(@project, html: {class: "form-group"}) do |f| %>
<%= render partial: 'layouts/errors', locals: {err: @project} %>

<%= f.label :name %>
<%= f.text_field :name, id: "project-name", class: "form-control" %>
<%= f.label :summary%>
<%= f.text_field :summary, id: "go-live", class: "form-control" %>
<%= f.label :go_live %>
<%= f.date_field :go_live, id: "go-live", class: "form-control" %>
<%= f.label :precentage_complete %>
<%= f.number_field :precentage_complete, id: "go-live", class: "form-control" %>
<%= f.label "Start Date" %>
<%= f.date_field :start, id: "date-field", class: "form-control" %>
<br />
<%= f.label "Included subprojects" %>
<br />
<ul class="list-group sub-task">

  <%= f.collection_check_boxes(:subproject_ids, Subproject.order(:name), :id,
                              :name, {class: "form-control"}) do |box| %>
  <li class="list-group-item">
  <%= box.check_box + box.text %>
  </li>
  <% end %>

  </ul>

<%= f.submit name: btn_name, class: 'btn btn-primary' %>

<% end %>
