<%= form_for(@project) do |f| %>
<%= f.label :name %>
<%= f.text_field :name, id: "project-name" %>
<%= f.label "Start Date" %>
<%= f.date_field :start, id: "date-field" %>
<br />
<%= f.label "Included subprojects" %>
<br />
<ul class="list-group">
  <%= f.collection_check_boxes(:subproject_ids, Subproject.all, :id, :name) do |box| %>
  <li class="list-group-item">
  <%= box.check_box + box.text %>
  </li>
  <% end %>

  </ul>

<%= f.submit name: btn_name, class: 'btn btn-primary' %>

<% end %>
