<h1>New Project</h1>
<%= form_for(@project, method: :post) do |f| %>
<%= f.label :name %>
<%= f.text_field :name, id: "project-name" %>
<%= f.label "Start Date" %>
<%= f.date_field :start, id: "date-field" %>
<%= f.label "Included projects" %>
<%= f.collection_check_boxes(:subproject_ids, Subproject.all, :id, :name) %>

<%= f.submit "Insert", class: 'btn-submit' %>
<% end %>
