<% provide(:title, @project.name) %>
<div class="container">
  <div class="row">
    <h1><%= @project.name %></h1>
    </div>
    <div class="row">
      <div class="col-xs">Project Summary:</div>
      <div class="col-xl"><%= @project.summary %></div>
    </div>
    <div class="row">
      <div class="col-xs">Total time:</div>
      <div class="col-xl">

        <%= pluralize(project_time_spent, "minute") %>

      </div>
      </div>
      <div class="row">
        <div class="col-xs">Precentage Complete:</div>
        <div class="col-xl">
          <div class="progress">
          <div class="progress-bar progress-bar-success"
              role="progressbar"
              aria-value-now="<%= project_complete_status %>"
              aria-valuemin="0" aria-valuemax="100"
              style="width:<%= project_complete_status %>%">
              <span><%= project_complete_status %>% completed</span>
        </div>
</div>
      </div>


      </div>


    <div class="row">
      <% if @project.tasks.present? %>
      <table class="table table-hover">
        <thead class="thead-dark">

          <th>
            Task completed on:
            </th>
            <th>
              Comments:
              </th>
              <th>
                Time:
                </th>
                <% if current_user.admin? %>
                <th>
                  Collaborator(s):
                  </th>
                <th>
                   Edit:
                  </th>
                  <% end %>
          </thead>

      <tbody>
      <% @tasks.each do |tsk| %>
      <tr>
        <td><%= tsk.day %></td>
        <td>  <%= tsk.comments %>  </td>
        <td><%= tsk.time %></td>
        <% if current_user.admin %>

        <td><% User.where(id: tsk.user_ids).each do |usr| %>
        <%=  usr.email_or_user_name %>
        <% end  %></td>
        <td><%= link_to "Edit", edit_task_path(tsk) %></td>
        <% end %>
      </tr>
      <% end %>
        </tbody>
              </table>
        <% else %>
        <h2>This project has no completed tasks yet.</h2>
      <% end %>

    </div>
    </div>
